body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.enter-form,
.send-form {
  max-width: 500px;
  background-color: #fff;
  padding: 20px;
  margin: 0 auto;
}

.enter-form__title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000;
}

.balance {
  margin: 20px auto;
}

.transactions {
  max-width: 700px;
  margin: 0 auto;
}

.transactions__table td,
.transactions__table th {
  padding: 5px 15px;
  border-bottom: 1px solid #eee;
}

.tx__id {
  width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.transactions__table {
  width: 100%;
  border: 1px solid #eee;
}